@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700&display=swap');
@font-face {
  font-family: 'Graphik Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Graphik Medium'), url('GraphikMedium.woff') format('woff');
}